body{
    background-color: rgb(239, 247, 247);
}

table{
    width: 600px;
    height: 400px;
    margin: auto;
    border-spacing: 0px;
}

table, td{
    border: 1px solid black;
    text-align: center;
}

.sup{
    background-color: rgb(6, 109, 6);
    color: white;
}

.inf{
    background-color: white;
}